@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1701488012596') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fanhui:before {
  content: "\e60c";
}
.icon-tianjia:before {
  content: "\e659";
}
.icon-shijianbeifen3:before {
  content: "\e694";
}


